@use "../abstracts/mixins" as mixins;

/*@mixin position($height, $left, $top, $z-index) {
    height : $height; 
    left : $left;
    top : $top;
    z-index: $z-index;
    position: absolute; } */

.renne {
    @include mixins.position(60vh , 0vw, 30vh, 10 );
    position: absolute;
    animation: renne-translate 3s linear forwards;

}

@keyframes renne-translate {
    0% {
        left: 0vh;
    }
    100% {
        left: 10vh 
    }
}